		<hr/>
		<footer>
            <p>Site web généré automatiquement à partir de fichiers markdown. Pour tout problème ou question contacter sgay@clipper.</p>

            <p>Site web hébérgé sur la page ENS personnelle de Lubin Bailly. Pour tout problème ou question contacter lbailly@clipper.</p>
		</footer>
	</body>
</html>
